<html>

<head>
    <title>Facebook Login using Node and Express</title>
</head>

<body>
    <% if (!user) { %>
        <!-- <h2 style="font-size:40px;">Welcome! Please log in.</h2> -->
        <a href="/auth/facebook"><img src="fb-login.jpg" width="151" height="24"></a>
        <% } else { %>
            <h2>Hello,
                <%= user.displayName %>.</h2>
            <% } %>
</body>

</html>